html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#66ccff,#ffccff);
  border-radius: 10px;
}

.Contact {
  width: 60%;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.info1,
.info2 {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

input,
textarea, button {
  width: 80%;
  padding: 15px;
  margin: 15px 3px;
  box-sizing: border-box;
  border: 2px solid  #66ccff;
  border-radius: 4px;
}

button,
input[type="reset"] {
  background-color: #ffccff;
  color: black;
  padding: 10px 10px;
  margin-top: 12px;
  border: none;
  border-radius: 7px;
  cursor: auto;
}

input[type="reset"]:hover,
button:hover {
  background-color: #ff80ff;
}

textarea {
  height: 100px;
}

.mapafooter {
  height: 450px;
  width: 400px;
}

.content-bg {
  height: 20%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}


.Content {
  width: 100%;
  height: 30px;
  line-height: 70px;
  z-index: 2;
  color: white;
}

.Content ul {
  padding-left: 100px;
  list-style: none;
  text-align: center;
  margin: 0;
  position: relative;
  top: 45px;
}


.Content ul li {
  display: inline-block;
  width: 180px;
  position: relative;
  z-index: 99;
}

.Content ul li a {
  text-decoration: none;
  color: white;
  font-weight: 50;
  display: block;
}

.Content img {
  height: 550px;
  width: auto;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 100;
}


.Content ul li a:hover {
  color: #66ccff;
}

.Content ul li:hover > ul {
  background-color: #4d4d4d;
  display: block;
}

.Content ul ul {
  position: absolute;
  top: 70px;
  left: 0;
  display: none;
}

.Content ul ul li {
  border-bottom: 1px solid  #66ccff;
  border-radius: 0px 10px 10px 0px;
}

.footermenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.footermenu ul li {
  display: inline-block;
  padding-top: 20px;
  margin-right: 40px;
  padding-bottom: 20px;
}

.footermenu ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.footermenu ul li a:hover {
  color: #ff4dff;
}


@media only screen and (max-width: 600px) {
  .Contact {
    width: 60%;
  }
}

* {
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 12vh;
}

a {
  color: inherit;
  font-size: large;
  text-decoration: none;
}