html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#66ccff,#ffe066);
  border-radius: 10px;
}

.navbar-comp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgba(255, 214, 51, 0.9);
  height: 120px;
}

.navbar-comp img {
  height: 100px;
  width: auto;
  margin-right: 20px;
}

.navbar-link, .navbar-comp a {
  color: black;
  margin-right: 20px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.navbar-comp a:hover {
  color: #66ccff;
  cursor: pointer;
}

.container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.anunt {
  flex: 1 1 calc(33.333% - 20px);
  margin: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  background-color: rgba(255, 214, 51, 0.9);
  border-radius: 10px;
  max-width: 300px;
}

.anunt img {
  max-width: 100%;
  height: auto;
}

@media only screen and (min-width: 768px) {
  .container {
    justify-content: center;
  }

  .anunt {
    flex: 1 1 calc(33.333% - 20px);
  }
}

@media only screen and (max-width: 768px) {
  .navbar-comp {
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .navbar-link, .navbar-comp a {
    margin-top: 10px;
    text-align: center;
    font-size: larger;
  }

  .anunt {
    flex: 1 1 100%;
  }
}

#logoutButton {
  border: #333;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 10px;
  background-color: rgba(255, 214, 51, 0.9);
  color: black;
  height: 45px;
  margin: 20px 0;
  display: block;
}

#user-name {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}
