html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.navbar-comp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
}

.navbar-link {
  margin-right: 20px;
}

.container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px; /* Add gap to handle spacing between items */
}

.anunt {
  flex: 1 1 calc(33.333% - 20px); /* Ensure max 3 items per row */
  margin: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  background-color: rgba(255, 214, 51, 0.9);
  border-radius: 10px;
  max-width: 300px; /* Optionally limit the max width */
}

.anunt img {
  max-width: 100%; /* Ensure images are responsive */
  height: auto;
}

.h2 {
  align-self: center;
}

.p {
  text-align: left;
}

@media only screen and (min-width: 768px) {
  .container {
    justify-content: center;
  }

  .anunt {
    flex: 1 1 calc(33.333% - 20px); /* Ensure max 3 items per row */
  }
}

@media only screen and (max-width: 768px) {
  .navbar-comp {
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    background-color: #ffd633;
  }

  .navbar-link {
    margin-left: 200px;
    margin-top: 10px;
    text-align: center;
    font-size: larger;
    text-decoration: none;
  }

  .navbar-comp a:hover {
    color: white;
  }

  .anunt {
    flex: 1 1 100%; /* Ensure full width on small screens */
  }
}

.navbar-comp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  background-color: #ffd633;
  height: 200px;
}

.navbar-link {
  margin-right: 20px;
  font-size: larger;
  text-decoration: none;
}

.navbar-comp a:hover {
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: large;
}

* {
  box-sizing: border-box;
}

#logoutButton {
  border: #333;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #ffa31a;
  color: black;
  height: 45px;
}
#user-name {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
