html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#66ccff, #ffe066); /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}

/* Navigation bar */
.navbar-comp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgba(255, 214, 51, 0.9);
  height: 80px; /* Adjust height if necessary */
}

.navbar-comp img {
  height: 150px; /* Adjust height to keep items in line */
  width: 200px;
  margin-right: 20px;
}

.navbar-link, .navbar-comp a {
  color: black; /* Match index color */
  margin-left: 180px; /* Increase space between links */
  font-size: 29px; /* Ensure font size matches the index page */
  font-weight: bold; /* Make the text bold */
  text-decoration: none;

  cursor: pointer; /* Ensures the cursor changes to pointer on hover */
}

.navbar-comp a:hover {
  color: #66ccff; /* Match hover color effect from the index page */
  cursor: pointer; /*Reinforces that the link is clickable */
}

/* Container for evenimente */
.container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

button {
  border: #333;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 60px;
  border-radius: 10px;
  background-color: #ffa31a;
  color: black;
  height: 35px;
}

.search-bar {
  margin-top: 40px;
  display: flex; /* Ensures the input and button are aligned next to each other */
  align-items: center;
  justify-content: flex-end; /* Aligns the search bar to the right */
  margin-bottom: 20px;
}

.search-bar input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 200px;
  margin-right: 10px; /* Add space between input and button */
}

.search-bar button {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #ffa31a;
  color: black;
  border: none;
  margin-top: 4px;
  cursor: pointer;
}

/* Individual eveniment style */
.anunt {
  flex: 0 0 calc(30% - 20px);
  margin: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: rgba(255, 214, 51, 0.9);
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.anunt h2 {
  margin: 0;
}

/* Images within an eveniment */
.images-container {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

/* Like button */
.like-button {
  padding: 10px 15px;
  background-color: #ffa31a;
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  align-self: center;
}

.like-button:hover {
  background-color: #e69500;
}

/* Responsive design */
@media only screen and (max-width: 768px) {
  .navbar-comp {
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .navbar-link, .navbar-comp a {
    margin-top: 10px;
    text-align: center;
    font-size: larger; /* Adjust if necessary for mobile view */
  }

  .anunt {
    flex: 1 1 100%; /* Full width on small screens */
  }

  .search-bar {
    justify-content: center; /* Centers the search bar on small screens */
  }
}

.anunt p {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.anunt img {
  max-width: 100%; /* Ensure images are responsive */
  height: auto;
}

.user-element {
  display: flex;
  align-items: center; /* Alinează vertical textul și iconul */
  gap: 0px; /* Mărește spațiul între text și icon */
  font-size: 16px; /* Ajustează dimensiunea textului, dacă este necesar */
  margin-bottom: 10px; /* Asigură spațiu sub text și icon */
}

.user-icon {
  width: 34px; /* Ajustează lățimea iconului */
  height: 24px; /* Ajustează înălțimea iconului */
  vertical-align: middle; /* Asigură-te că iconul este centrat vertical cu textul */
}
