html, body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#66ccff, #ffe066);
    border-radius: 10px;
}

.navbar-comp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(255, 214, 51, 0.9);
    height: 80px;
}

.navbar-comp img {
    height: 150px;
    width: auto;
    margin-right: 20px;
}

.navbar-link, .navbar-comp a {
    color: black;
    margin-right: 450px;
    font-size: 29px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.navbar-comp a:hover {
    color: #66ccff;
    cursor: pointer;
}


.container2 {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

button {
    border: #333;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 60px;
    border-radius: 10px;
    background-color: #ffa31a;
    color: black;
    height: 35px;
}

.search-bar {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.search-bar input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 200px;
    margin-right: 10px;
}

.search-bar button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #ffa31a;
    color: black;
    border: none;
    margin-top: 4px;
    cursor: pointer;
}


.eveniment {
    flex: 0 0 calc(30% - 20px);
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: rgba(255, 214, 51, 0.9);
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.eveniment h2 {
    margin: 0;
}


.images-container {
    position: relative;
    width: 100%;
    margin-top: 10px;
}


.like-button {
    padding: 10px 15px;
    background-color: #ffa31a;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    align-self: center;
}

.like-button:hover {
    background-color: #e69500;
}

@media only screen and (max-width: 768px) {
    .navbar-comp {
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .navbar-link, .navbar-comp a {
        margin-top: 10px;
        text-align: center;
        font-size: larger;
    }

    .eveniment {
        flex: 1 1 100%;
    }

    .search-bar {
        justify-content: center;
    }
}

.eveniment p {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.eveniment img {
    max-width: 100%;
    height: auto;
}

.user-element {
    display: flex;
    align-items: center;
    gap: 0px;
    font-size: 16px;
    margin-bottom: 10px;
}

.user-icon {
    width: 34px;
    height: 24px;
    vertical-align: middle;
}
